/* general css */
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
  margin-top: 15px;
  font-weight: normal;
}
p {
  font-family: Raleway;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

* {
  box-sizing: border-box;
}
img {
  vertical-align: top !important;
  display: inline-block !important;
  max-width: 100%;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.heading h3 {
  font-family: Caveat;
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #080a2f;
  padding-top: 59px;
  margin: 0;
}
.up-arrow {
  float: right;
  margin-right: 20px;
  background-image: linear-gradient(to right, #7c82ea, #e769c0);
  padding: 1px 10px;
  border-radius: 50%;
  color: #fff;
}
.underline {
  width: 60px;
  height: 5px;
  margin: 0 auto;
  margin-top: 24px;
  background-image: linear-gradient(to right, #7c82ea, #e769c0);
  /* linear-gradient(to left, #000, #000); */
}
/* navbar */
.current {
  color: #7c82ea !important;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #7c82ea, #e769c0);
  border-image-slice: 1;
  font-weight: bold;
}

/* bottom */

.bottom-nav .bottom-nav-links {
  display: none;
  position: relative;
}
.bottom-links li {
  list-style: none;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 25px;
}
.bottom-links a {
  text-decoration: none;
  color: #e769c0;
}
.sidebar {
  /* text-align: center; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #f8f8f8;
  display: flex;
  transform: translateX(-100%);
  z-index: 2;
  padding-top: 50px;
  transition: all 0.5s ease 0s;
  align-items: center;
  justify-content: center;
}
.show-links {
  transform: translateX(0);
}
.close-btn {
  padding-left: 23px;
  background: none;
  border: none;
  font-size: 30px;
  margin-bottom: 50px;
  position: absolute;
  top: 10px;
  right: 10%;
  font-weight: bold;
}
.close-btn p {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

header {
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 9999;
  background: white;
  padding-top: 10px;
  padding-bottom: 15px;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
}
.home-navbar {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.logo {
  flex: 0 0 11%;
  max-width: 11%;
}
.nav-list {
  flex: 0 0 89%;
  max-width: 89%;
  text-align: right;
}
.nav-list ul {
  list-style: none;
}
.nav-list li {
  display: inline;
}
.nav-list a {
  text-decoration: none;
  padding: 0 10px;
  color: #e769c0;
  padding-bottom: 15px;
}
.nav-list a:hover {
  color: #7c82ea;
}

/* home banner */
.banner {
  background-color: #fff7fd;
  max-width: 100%;
  padding: 72px 0;
}
.banner-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1170px;
}
.banner-info {
  flex: 0 0 55%;
  max-width: 55%;
  padding-left: 100px;
}
.banner-img {
  flex: 0 0 45%;
  max-width: 45%;
}
.Lets-make-world {
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 72px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 2.88px;
  text-align: left;
  color: #a52929;
  margin-bottom: 0;
  text-shadow: 2px 2px 2px orange;
}
.a-happier-place {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 366px;
  background-image: linear-gradient(to top, #7c82ea, #e769c0),
    linear-gradient(to bottom, #a52929, #a52929);
  font-family: Caveat;
  font-size: 100px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 4px;
  text-align: left;
  color: #a52929;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: 3px 2px 1px black; */
}
img.covid-helth-initiative {
  margin: 34px 0 0 60px;
  padding-right: 20px;
  padding-bottom: 30px;
  object-fit: contain;
  text-align: right;
}
.cobid-health-img {
  text-align: right;
}
.campaign-wrapper {
  display: flex;
  text-align: center;
}

.hello-happiness {
  flex: 0 0 calc(50% - 52px);
  margin-right: 52px;
}
.aim-happiness {
  flex: 0 0 calc(50% - 52px);
  margin-left: 52px;
}
.hello-happiness span,
.aim-happiness span {
  width: 194px;
  height: 35px;
  background-image: linear-gradient(to right, #7c82ea, #e769c0);
  /* linear-gradient(to left, #000, #000); */
  font-family: Caveat;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ambassador {
  background-color: #f9f9ff;
  padding-bottom: 60px;
}
.ambassador .container,
.team-members .container {
  margin-top: 56px;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: linear-gradient(#7c82ea, #e769c0);
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 40px;
}
.logo {
  align-items: flex-end;
}
.ambassadors {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 40px;
}
.ambassadors-logo {
  padding: 10px 15px;
  /* margin-bottom: 50px; */
  transition: all 10sec ease;
}
.logo-img:hover {
  border-color: #a52929;
  transform: scale(1.1);
}
.logo-img {
  position: relative;
  padding-bottom: 40px;
  border: 4px solid transparent;
  transition: all 0.5s;
}
.logo-info {
  position: absolute;
  background-image: linear-gradient(to right, #7c82ea, #e769c0);
  width: 100%;
}
.logo-info p {
  margin: 0;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 6px 0;
}
.pandemic-wrapper {
  display: flex;
}
.pandemic-info {
  flex: 0 0 55%;
  max-width: 55%;
  padding-right: 97px;
}

.pandemic-img {
  flex: 0 0 45%;
  max-width: 38%;
  /* position: relative; */
}
.pandemic-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* position: absolute; */
}

.change-maker {
  background-color: #fff8fd;
  margin-top: 56px;
}
.change-maker-wrapper {
  display: flex;
  max-width: 1007px;
  margin: 0 auto;
  align-items: center;
}

.change-maker-info {
  flex: 0 0 60%;
  max-width: 60%;
  /* padding-top: 38px; */
}

.change-maker-img {
  flex: 0 0 40%;
  max-width: 40%;
}
.about-happiness-wrapper {
  display: flex;
  /* max-width: 1024px; */
  margin: 0 auto;
}
.about-happiness-img {
  flex: 0 0 34%;
  max-width: 34%;
}
.about-happiness-img img {
  width: 100%;
  height: 100%;
}
.about-happiness-info {
  flex: 0 0 66%;
  max-width: 66%;
  padding-top: 40px;
  padding-right: 117px;
}
.team-members {
  background: #f9f9ff;
  padding-bottom: 60px;
}
.member-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.member-img {
  flex: 0 0 30%;
  max-width: 30%;
}
.member-img img {
  border-radius: 50%;
}
.member-info {
  flex: 0 0 70%;
  max-width: 70%;
  padding-left: 50px;
}
.member-info .name {
  margin: 0;
  background-image: linear-gradient(to top, #7c82ea, #e769c0);
  font-family: Caveat;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Core-Team-Member {
  color: #e769c0;
}
.member-info p span {
  font-weight: bold;
  color: #7c82ea;
}
.associations {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.associations-logo {
  max-width: 350px;
  height: 160px;
  background: #f9f7f7;
  position: relative;
  border: 1px solid #eee9e9;
  margin: 0 auto;
}
.associations-img {
  width: 122px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery {
  background-color: #fff8fd;
}
.img-gallery {
  padding-top: 40px;
}
.gallery-img {
  padding: 10px 15px;
}
.gallery-img img {
  border: 4px solid transparent;
  transition: all 0.5s;
}
.gallery-img:hover img {
  transform: scale(1.1);
  border-color: #a52929;
}
.sanpshots {
  padding-top: 40px;
  padding-bottom: 55px;
  text-align: center;
}
.sanpshots p {
  text-align: center;
  font-size: 24px;
  margin: 0;
}
.contact {
  background: #010013;
  color: #fff;
}
.contact p {
  color: #fff;
}
.contact-wrapper {
  display: flex;
  padding-top: 60px;
  padding-bottom: 50px;
}
.contact-info {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.contact-info a {
  color: #fff;
  text-decoration: none;
}
.social-links img {
  padding-right: 10px;
}
.contact-logo,
.contact-links {
  flex: 0 0 calc(33.33% - 40px);
  max-width: 33.33%;
  padding-right: 40px;
}
.line {
  background: #6c0045;
  width: 100%;
  height: 2px;
}
.contact-links h5,
.contact-info h5 {
  margin: 0;
  padding-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

/* collapse */
.quick-links {
  list-style: none;
  padding: 0;
}
.quick-links a {
  text-decoration: none;
  color: #fff;
}
.quick-links a:hover {
  color: #e769c0;
}
.quick-links i {
  padding-right: 10px;
}
.quick-links li {
  border-bottom: 2px solid #0f0b27;
  padding: 10px 0;
}
footer {
  background: #08081d;
}
footer p {
  padding: 15px 0;
  color: #fff;
  margin: 0;
  text-align: center;
}

@media (max-width: 1120px) {
  .Lets-make-world {
    font-size: 67px;
  }
  .a-happier-place {
    font-size: 95px;
  }
}
@media (max-width: 1024px) {
  .Lets-make-world {
    font-size: 60px;
  }
}
@media (max-width: 953px) {
  .Lets-make-world {
    font-size: 55px;
  }
  .a-happier-place {
    font-size: 85px;
  }
  .campaign-wrapper,
  .pandemic-wrapper,
  .about-happiness-wrapper {
    flex-wrap: wrap;
  }
  .hello-happiness {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .aim-happiness {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 899px) {
  .a-happier-place {
    font-size: 75px;
  }
  .Lets-make-world {
    font-size: 50px;
  }
  .pandemic-img {
    flex: 0 0 100%;
    max-width: 50%;
    height: 50%;
    margin: 0 auto;
    order: 1;
    padding-top: 20px;
  }
  .pandemic-info {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
    order: 2;
  }
  .about-happiness-info {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
    order: 2;
    padding-top: 0;
  }
  .about-happiness-img {
    flex: 0 0 100%;
    max-width: 80%;
    margin: 0 auto;
    order: 1;
  }
  @media (max-width: 820px) {
    .contact-wrapper {
      flex-wrap: wrap;
    }
    .contact-logo,
    .contact-links,
    .contact-info {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .contact-links {
      padding-top: 30px;
    }
    .contact-info {
      padding-right: 40px;
      padding-top: 30px;
    }
    .member-wrapper {
      flex-wrap: wrap;
    }
    .member-img {
      max-width: 27%;
      flex: 0 0 100%;
    }
    .member-info {
      max-width: 100%;
      flex: 0 0 100%;
      padding-left: 0;
    }
  }
}
@media (max-width: 829px) {
  .Lets-make-world {
    font-size: 45px;
  }
}
@media (max-width: 777px) {
  .banner-info {
    padding-left: 15px;
  }
  .Lets-make-world {
    font-size: 40px;
  }
  .a-happier-place {
    font-size: 65px;
  }
  .heading h3 {
    font-size: 50px;
  }
}

@media (max-width: 629px) {
  .nav-btn {
    font-size: 30px;
    color: #e769c0;
  }
  .bottom-links {
    padding: 0;
    padding-left: 23px;
    padding-top: 25px;
  }
  .cobid-health-img {
    display: none;
  }
  .Lets-make-world {
    margin-top: 0;
    text-align: center;
  }
  .a-happier-place {
    max-width: 100%;
    /* padding-bottom: 50px; */
    text-align: center;
  }
  .banner-wrapper {
    flex-wrap: wrap;
  }
  .banner-img {
    flex: 0 0 100%;
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .banner-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .hello-happiness span,
  .aim-happiness span {
    font-size: 28px;
  }
  .member-info .name {
    font-size: 36px;
  }
  header {
    position: static;
  }
  .logo {
    flex: 0 0 100%;
    max-width: 89%;
    text-align: center;
  }
  .home-navbar {
    justify-content: center;
    align-items: center;
  }
  .bottom-nav .bottom-nav-links {
    padding: 0;
    width: 100%;
    background: white;
    display: block;
    z-index: 2;
    text-align: left;
  }
  .bottom-nav p {
    text-align: center;
  }
  .bottom-nav img {
    width: 30px;
    height: 30px;
  }
  .bottom-nav a {
    text-decoration: none;
    color: black;
  }
  .line1 {
    border: 1px solid #383027;
    width: 0;
    height: 100%;
    background-color: #319647;
  }
  .bottom-nav li {
    list-style: none;
  }
  .nav-list {
    display: none;
  }
  .heading h3 {
    font-size: 40px;
  }
  .change-maker-wrapper {
    flex-wrap: wrap;
  }
  .change-maker-img {
    flex: 0 0 100%;
    max-width: 75%;
    margin: 0 auto;
  }
  .change-maker-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  p {
    font-size: 14px;
  }
  footer p a {
    display: none;
  }
  .heading h3 {
    padding-top: 30px;
  }
  .ambassador,
  .team-members {
    padding-bottom: 40px;
  }
  .sanpshots p {
    font-size: 18px;
  }
}
@media (max-width: 515px) {
  .bottom-links li {
    font-size: 14px;
  }
}
@media (max-width: 489px) {
  .heading h3 {
    font-size: 32px;
  }
  .logo-info p {
    font-size: 12px;
  }
  .a-happier-place {
    font-size: 55px;
  }
  .Lets-make-world {
    font-size: 32px;
  }
  .sanpshots {
    padding-top: 20px;
    padding-bottom: 25px;
  }
}
@media (max-width: 420px) {
  .bottom-links li {
    font-size: 12px;
  }
  .bottom-links,
  .close-btn {
    padding-left: 10px;
  }
}
